{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<style>

ul.project-infos {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.project-infos li.project-info {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.project-infos li.project-info:hover {
    background-color: #d9ffcc; 
    /*#f0f0f0;*/
}
div.project-deadline {
    float: right;
}
div.project-created {
    font-size: small;
    color: navy;
    font-style: italic;
}
div.project-name {
    font-weight: bold;
}
div.project-content {
    min-height: 48px;
}
div.project-description {
    padding: 10px 0px 0px 0px;
}

li.project-info  a {
    text-decoration: none;
    color: black;
}

</style>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datetimepicker.css')}}">
{% endblock %}

{% block page_content %}
<div class="container">
    <ul class="project-infos">
        {% for project in projects %}
            <li class="project-info" data-project-id="{{project.id}}">
                <a href="{{url_for('eboard.project', projectid=project.id)}}">
                    <div class="project-content">
                        <div class="project-deadline">Deadline: {{moment(project.deadline).format("YYYY-MM-DD HH:mm")}}</div>
                        <div class="project-name">{{project.name}}</div>
                        <div class="project-created">Created: {{moment(project.created).format("YYYY-MM-DD HH:mm")}}</div>
                        <div class="project-description">{{project.description}}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('eboard.project_new')}}" class="btn btn-success" role="button">Create New Project</a>
</div>
{% endblock %} 