{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<style>
    table#taskTable {
        border-collapse: collapse;  
        margin: 0px 0px 10px 0px;
        width: 100%; 
    }

    table#taskTable tbody td {
        border: 1px solid black;
        padding: 10px;
    }

    table#taskTable thead th {
        padding: 10px;
    }

    table#taskTable thead tr th.header {
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: center right;
        border: 1px solid black;
    }
    table#taskTable thead tr th.headerSortInit {
        background-image: url("{{ url_for('static', filename='images/sort_init.png')}}");
        cursor: pointer;
    }
    table#taskTable thead tr th.headerSortUp {
        background-image: url("{{ url_for('static', filename='images/sort_up.png')}}");
        cursor: pointer;
    }
    table#taskTable thead tr th.headerSortDown {
        background-image: url("{{ url_for('static', filename='images/sort_down.png')}}");
        cursor: pointer;
    }

    table#taskTable tr.taskactive {
        background-color: #80bfff;
    }

    table#taskTable tr.taskactive:hover {
        background-color: #b3d9ff;
    }

    table#taskTable tr.taskwithdraw {
        background-color: #ffff80;
    }

    table#taskTable tr.taskwithdraw:hover {
        background-color: #ffffb3;
    }

    table#taskTable tr.taskdone {
        background-color: #80ff80;
    }

    table#taskTable tr.taskdone:hover {
        background-color: #b3ffb3;
    }

    table#taskTable tr.taskdelayed {
        background-color:  #ff8080;
    }

    table#taskTable tr.taskdelayed:hover {
        background-color: #ffb3b3;
    }

    #taskConfigTags {
        width:auto !important;
    }
   .subnavbar {
        min-height: 0px;
        padding-top: 0px;
        margin: 0px;
        padding-bottom: 5px;
    }
    .subnavbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 5px;
        margin: 0px;
        /*padding-left: 1px;*/
        display: inline;
    }

    .subnavbar-text {
        padding-top: 0px;
        padding-bottom: 5px;
        margin: 0px;   
        height: auto;
        color: yellow !important;
        display: inline;
    }
</style>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/util.js')}}"></script>
<script src="{{url_for('static', filename='scripts/taskManager.js')}}"></script>
<script>

    // TaskManager
    var taskManager = new TaskManager(
        {{ tasksJSON | tojson | safe }}, 
        document.getElementById("taskTableBody"), 
        {
            "taskStatuses": { 
                "taskactive": "Active",
                "taskdone": "Done",
                "taskwithdraw": "Withdraw",
                "taskarchive": "To Archive"
            },
            "server": "{{config.SERVER}}"
        });

    taskManager.sort({ "status.name": 1, "deadline": 1});
    taskManager.refreshDOM();

    $("#taskConfigTags").change(function() {
        if (this.value == "all") {
            taskManager.refreshDOM();
        } else {
            var tagId = parseInt(this.value.match(/\d+$/));
            taskManager.refreshDOM({ "tags": { "id": tagId }});
        }
        updateRowStatus();
    });

    $(".taskConfigStatus").change(function() {
        updateRowStatus();
    });

    function updateRowStatus() {
        $(".taskConfigStatus").each(function() {
            if ($(this).is(':checked')) {
                $("tr." + this.value).show();
            } else {
                $("tr." + this.value).hide();
            }          
        });
    }

    // Tablesort icons in header
    $("table#taskTable thead tr th.header").click(function() {

        var sortSpec = {};
        if ($(this).hasClass("headerSortInit")) {
            $(this).removeClass("headerSortInit");
            $(this).addClass("headerSortUp");
            sortSpec[$(this).data("field")] = 1; 
        } else if ($(this).hasClass("headerSortUp")) {
            $(this).removeClass("headerSortUp");
            $(this).addClass("headerSortDown");
            sortSpec[$(this).data("field")] = -1;
        } else if ($(this).hasClass("headerSortDown")) {
            $(this).removeClass("headerSortDown");
            $(this).addClass("headerSortUp");
            sortSpec[$(this).data("field")] = 1; 
        }

        taskManager.sort(sortSpec);
        if ($("#taskConfigTags").val() == "all") {
            taskManager.refreshDOM();  
        } else {
            var tagId = parseInt($("#taskConfigTags").val().match(/\d+$/));
            taskManager.refreshDOM({ "tags": { "id": tagId }});     
        }
        updateRowStatus();
    });

</script>
{% endblock %}

{% block page_content %}
<div class="container">
    {% if tasks %}
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Status</label>
                <div class="col-sm-11">
                    <label class="checkbox-inline">
                        <input class="taskConfigStatus" type="checkbox" value="taskactive" checked> Active
                    </label>
                    <label class="checkbox-inline">
                        <input class="taskConfigStatus" type="checkbox" value="taskdone" checked> Done
                    </label>
                    <label class="checkbox-inline">
                        <input class="taskConfigStatus" type="checkbox" value="taskwithdraw" checked> Withdraw
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="taskConfigTags" class="col-sm-1 control-label">Tags</label>
                <div class="col-sm-11">
                    <select id="taskConfigTags" class="form-control">
                        <option value="all" selected>All</option>
                        {% for tag in tags %}
                            <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <div>
            <table id="taskTable">
                <thead>
                    <tr>
                        <th class="header headerSortInit" data-field="title">Title</th>
                        <th class="header headerSortInit" data-field="deadline">Deadline</th>
                        <th class="header" data-field="notes">Notes</th>
                        <th class="header" data-field="tags">Tags</th>
                        <th class="header headerSortInit" data-field="status.name">Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="taskTableBody"> </tbody>
            </table>
        </div>
    {% else %}
        <p>Add your first task.</p>
    {% endif %}
</div>
{% endblock %} 

{% block extra_navbar %}
    <div class="navbar subnavbar" role="navigation">
        <p class="navbar-text subnavbar-text">Tasks /</p>
        <ul class="nav navbar-nav subnavbar-nav">
            <li><a href="{{ url_for('eboard.edit_task') }}" id="tasks-addTask">New Task</a></li>
            <li><a href="#" id="tasks-archive">Archive</a></li>
        </ul>
    </div>
{% endblock %}