{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<link href = "{{ url_for('static', filename='css/fullcalendar.css')}}" rel='stylesheet' />
<link href = "{{ url_for('static', filename='css/fullcalendar.print.css')}}" rel='stylesheet' media='print' />
<style>
#calendar {
    max-width: 900px;
    /*width: 100%;*/
    margin: 0 auto;
}
.fc-task-deadline,
.fc-task-deadline div,
.fc-task-deadline span {
    background-color: #cc0000;
    border-color: #cc0000;
    color: white;
}

.fc-project-deadline,
.fc-project-deadline div,
.fc-project-deadline span {
    background-color: rgb(205, 0, 103);
    border-color: rgb(205, 0, 103);
    color: white;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div id='calendar'></div>
</div>
{{ macros.newevent_model("modal-event") }}
{% endblock %}

{% block body_scripts %}
{{ super() }}
<script src = "{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
<script>
    function ajaxErrorsHandler(jqXHR, textStatus, errorThrown) {
        var status = "ERROR";
        if (textStatus !== null) status = textStatus.toUpperCase();
        alert(status + ": " + errorThrown);  
    }

    function getEventInfo(data, callbackDone, callbackFail) {
        $.ajax({
            url: "/api/users/{{user.username}}/events/" + data.id,
            type: "GET",
        })
            .done(callbackDone)
            .fail(callbackFail);
    }

    function createEvent(data, callbackDone, callbackFail) {
        $.ajax({
            url: "/api/users/{{user.username}}/events",
            type: "POST",
            data: data
        })
            .done(callbackDone)
            .fail(callbackFail);
    }

    function updateEvent(data, callbackDone, callbackFail) {
        $.ajax({
            url: "/api/users/{{user.username}}/events/" + data.id,
            type: "PUT",
            data: data
        })
            .done(callbackDone)
            .fail(callbackFail);
    }

    function removeEvent(data, callbackDone, callbackFail) {
        $.ajax({
            url: "/api/users/{{user.username}}/events/" + data.id,
            type: "DELETE",
            data: data
        })
            .done(callbackDone)
            .fail(callbackFail);
    } 

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        allDaySlot: true,
        selectable: true,
        selectHelper: true,

        // 24 hours please
        timeFormat: 'H:mm', 
        axisFormat: 'H:mm',

        timezone: "{{user.timezone}}",

        select: function(start, end) {
            $("#new-event-start").val(moment(start).format("YYYY-MM-DD HH:mm"));
            $("#new-event-end").val(moment(end).format("YYYY-MM-DD HH:mm"));
            $("#header-event-start").html(moment(start).format("YYYY-MM-DD HH:mm"));
            $("#header-event-end").html(moment(end).format("YYYY-MM-DD HH:mm"));
            $("#new-event-title").val("");
            $("#new-event-description").val("");
            if (!start.hasTime() && !end.hasTime()) {
                $("#new-event-allday").val("yes");
            } else {
                $("#new-event-allday").val("no");
            }
            $("#new-event-id").val("");
            $(".event-bookmark").hide();
            $("#event-edit").show();
            $("#event-model-title").html("Add New Event");
            $("#modal-event").modal("show");
        },

        eventClick: function(event, jsEvent, view) {
            getEventInfo({id: event._id}, function(data, status, xhr) {
                    $("#event-info-start").html(moment(data.start).format("YYYY-MM-DD HH:mm"));
                    $("#event-info-end").html(moment(data.end).format("YYYY-MM-DD HH:mm"));
                    $("#event-info-title").html(data.title);
                    $("#event-info-title2").html(data.title);
                    $("#event-info-description").html(data.desc);
                    $("#event-info-id").val(data.id);
                    $("#new-event-id").val(data.id); // required when user wants to update event
                    $(".event-bookmark").hide();
                    $("#event-info").show();
                    $("#event-model-title").html("Edit Event");
                    if (data.editable == false) {
                        $("#event-edit-btn").hide();
                        $("#event-remove-btn").hide();
                    } else {
                        $("#event-edit-btn").show();
                        $("#event-remove-btn").show();
                    }
                    $("#modal-event").modal("show");
                });
        },

        eventDrop: function(event, delta, revertFunc, jsEvent, ui, view ) {
            updateEvent({
                    id: event.id,
                    start: event.start !== null ? 
                        moment(event.start).format("YYYY-MM-DD HH:mm") : null,
                    end: event.end !== null ?
                        moment(event.end).format("YYYY-MM-DD HH:mm") : null, 
                    allday: !event.start.hasTime()
                }, undefined, ajaxErrorsHandler);
        },

        eventResize: function(event, delta, revertFunc, jsEvent, ui, view ) {
            updateEvent({
                    id: event.id,
                    start: moment(event.start).format("YYYY-MM-DD HH:mm"),
                    end: moment(event.end).format("YYYY-MM-DD HH:mm"),
                }, undefined, ajaxErrorsHandler);
        },

        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: {
            url: "/api/users/{{user.username}}/events",
            type: "GET"
        }
    });

    $("#new-event-btn").click(function() {
        var event_title = $("#new-event-title").val();
        var event_desc = $("#new-event-description").val();
        var event_start = $("#new-event-start").val();
        var event_end = $("#new-event-end").val();
        var event_allDay = $("#new-event-allday").val();

        if ($("#new-event-id").val() != "") { // update event
            var event_id = $("#new-event-id").val();
            updateEvent({
                    id: event_id,
                    title: event_title,
                    desc: event_desc
                }, function(data, status, xhr) {
                    $('#calendar').fullCalendar('removeEvents', event_id);
                    var eventData = {
                        id:  event_id, title: event_title,
                        start: event_start, end: event_end,
                        allDay: false
                    };
                    $("#calendar").fullCalendar("renderEvent", eventData, true); 
                }, ajaxErrorsHandler);
            $("#modal-event").modal("hide");
        } else { // create new event
            createEvent({
                    title: event_title, desc: event_desc,
                    start: event_start, end: event_end,
                    allday: event_allDay   
                }, function(data, status, xhr) {
                    var uri = xhr.getResponseHeader("Location");
                    var event_id = uri.split("/").pop(); 
                    var eventData = {
                        id:  event_id, title: event_title,
                        start: event_start, end: event_end,
                        allDay: false
                    };
                    $("#calendar").fullCalendar("renderEvent", eventData, true);    
                    $("#modal-event").modal("hide");
                }, ajaxErrorsHandler);
        }
    });

    $("#event-edit-btn").click(function() {
        getEventInfo$({id: $("#event-info-id").val() }, 
            function(data, status, xhr) {
                $("#new-event-start").val(data.start);
                $("#new-event-end").val(data.end);
                $("#header-event-start").html(moment(data.start).format("YYYY-MM-DD HH:mm"));
                $("#header-event-end").html(moment(data.end).format("YYYY-MM-DD HH:mm"));
                $("#new-event-title").val(data.title);
                $("#new-event-description").val(data.desc);
                $(".event-bookmark").hide();
                $("#event-edit").show();
                $("#event-model").modal("show");
                $('#calendar').fullCalendar('unselect');  
            }, ajaxErrorsHandler);
    });

    $("#event-remove-btn").click(function() {
        if (confirm("Are you sure you want to remove this event?")) {
            var eventId = $("#event-info-id").val();

            removeEvent({id: eventId},
                function(data, status, xhr) {
                    $('#calendar').fullCalendar('removeEvents', eventId);
                    $("#modal-event").modal("hide");
                }, ajaxErrorsHandler);
        }
    });
</script>
{% endblock %}