{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<link href = "{{ url_for('static', filename='css/fullcalendar.css')}}" rel='stylesheet' />
<link href = "{{ url_for('static', filename='css/fullcalendar.print.css')}}" rel='stylesheet' media='print' />
<style>
#calendar {
    max-width: 900px;
    /*width: 100%;*/
    margin: 0 auto;
}
.fc-task-deadline,
.fc-task-deadline div,
.fc-task-deadline span {
    background-color: #cc0000;
    border-color: #cc0000;
    color: white;
}

.fc-project-deadline,
.fc-project-deadline div,
.fc-project-deadline span {
    background-color: rgb(205, 0, 103);
    border-color: rgb(205, 0, 103);
    color: white;
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src = "{{ url_for('static', filename='scripts/fullcalendar.min.js') }}"></script>
<script>

    function getEventInfo(id, success) {
        $.ajax({
            url: "calendar/events/get",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({id: id}),
            cache: false,
            dataType: "json",
            success: success
        });
    }

    function updateEvent(event, success) {
        $.ajax({
            url: "calendar/events/update",
            type: "POST",
            contentType: "application/json; charset-uf-8",
            data: JSON.stringify(event),
            cache: false,
            dataType: "json",
            success: success
        });
    }

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        allDaySlot: true,
        selectable: true,
        selectHelper: true,

        // 24 hours please
        timeFormat: 'H:mm', 
        axisFormat: 'H:mm',

        timezone: "UTC",

        select: function(start, end) {
            $("#new-event-start").val(moment(start).format("YYYY-MM-DD HH:mm"));
            $("#new-event-end").val(moment(end).format("YYYY-MM-DD HH:mm"));
            $("#header-event-start").html(moment(start).format("YYYY-MM-DD HH:mm"));
            $("#header-event-end").html(moment(end).format("YYYY-MM-DD HH:mm"));
            $("#new-event-title").val("");
            $("#new-event-description").val("");
            if (!start.hasTime() && !end.hasTime()) {
                $("#new-event-allday").val("yes");
            } else {
                $("#new-event-allday").val("no");
            }
            $("#new-event-id").val("");
            $(".event-bookmark").hide();
            $("#event-edit").show();
            $("#event-model-title").html("Add New Event");
            $("#event-model").modal("show");
        },

        eventClick: function(event, jsEvent, view) {
            getEventInfo(event._id, function(response) {
                if (response.status == "success") {
                    var data = response.data;
                    $("#event-info-start").html(moment(data.start).format("YYYY-MM-DD HH:mm"));
                    $("#event-info-end").html(moment(data.end).format("YYYY-MM-DD HH:mm"));
                    $("#event-info-title").html(data.title);
                    $("#event-info-title2").html(data.title);
                    $("#event-info-description").html(data.description);
                    $("#event-info-id").val(data.id);
                    $("#new-event-id").val(data.id); // required when user wants to update event
                    $(".event-bookmark").hide();
                    $("#event-info").show();
                    $("#event-model-title").html("Edit Event");
                    if (data.editable == false) {
                        $("#event-edit-btn").hide();
                        $("#event-remove-btn").hide();
                    } else {
                        $("#event-edit-btn").show();
                        $("#event-remove-btn").show();
                    }
                    $("#event-model").modal("show");
                } else {
                    alert("FUCK. Sth went wrong!!!!");
                }
            });
        },

        eventDrop: function(event, delta, revertFunc, jsEvent, ui, view ) {
            updateEvent({
                    id: event.id,
                    start: event.start !== null ? 
                        moment(event.start).format("YYYY-MM-DD HH:mm") : null,
                    end: event.end !== null ?
                        moment(event.end).format("YYYY-MM-DD HH:mm") : null, 
                    allday: !event.start.hasTime()
                }, function(response) {
                    if (response.status == "failure") {
                        revertFunc();
                    }
                });
        },

        eventResize: function(event, delta, revertFunc, jsEvent, ui, view ) {
            updateEvent({
                    id: event.id,
                    start: moment(event.start).format("YYYY-MM-DD HH:mm"),
                    end: moment(event.end).format("YYYY-MM-DD HH:mm"),
                }, function(response) {
                    if (response.status == "failure") {
                        revertFunc();
                    }
                });
        },

        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: {
            url: "calendar/events/source",
            type: "POST"
        }
    });

    $("#new-event-btn").click(function() {

        if ($("#new-event-id").val() != "") { // update event
            var eventData = {
                id: $("#new-event-id").val(),
                title: $("#new-event-title").val(),
                description: $("#new-event-description").val(),      
            };
            updateEvent(eventData, function(response) {
                if (response.status == "success") {
                    $('#calendar').fullCalendar('removeEvents', response.data.id);
                    var eventData = {
                        id:  response.data.id,
                        title: response.data.title,
                        start: response.data.start,
                        end: response.data.end,
                        allDay: response.data.allDay
                    };
                    $("#calendar").fullCalendar("renderEvent", eventData, true); 
                } else {
                    alert("FUCK. Sth went wrong!!!");
                }
                $("#event-model").modal("hide");
            });
        } else { // create new event
            $.ajax({
                url: "calendar/events/put",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 
                    title: $("#new-event-title").val(),
                    description: $("#new-event-description").val(),
                    start: $("#new-event-start").val(),
                    end: $("#new-event-end").val(),
                    allday: $("#new-event-allday").val()
                }),
                cache: false,
                dataType: "json",
                success: function(response) {
                    if (response.status == "success") {
                        var eventData = {
                            id:  response.data.id,
                            title: response.data.title,
                            start: response.data.start,
                            end: response.data.end,
                            allDay: response.data.allDay
                        };
                        $("#calendar").fullCalendar("renderEvent", eventData, true); 
                    }
                    $("#event-model").modal("hide");
                },
                error: function() {
                    alert("FUCK. Sth went wrong!!! Run!!!");
                    $("#event-model").modal("show");
                }
            });
        }
    });

    $("#event-edit-btn").click(function() {
        getEventInfo($("#event-info-id").val(), function(response) {
            if (response.status == "success") {
                var data = response.data;
                $("#new-event-start").val(data.start);
                $("#new-event-end").val(data.end);
                $("#header-event-start").html(moment(data.start).format("YYYY-MM-DD HH:mm"));
                $("#header-event-end").html(moment(data.end).format("YYYY-MM-DD HH:mm"));
                $("#new-event-title").val(data.title);
                $("#new-event-description").val(data.description);
                $(".event-bookmark").hide();
                $("#event-edit").show();
                $("#event-model").modal("show");
                $('#calendar').fullCalendar('unselect');
            } else {
                alert("FUCK. Sth went wrong!!!!");
            }
        });     
    });

    $("#event-remove-btn").click(function() {
        if (confirm("Are you sure you want to remove this event?")) {
            var eventId = $("#event-info-id").val()
            $.ajax({
                url: "calendar/events/remove",
                type: "POST",
                contentType: "application/json; charset-uf-8",
                data: JSON.stringify({id: eventId}),
                cache: false,
                dataType: "json",
                success: function(response) {
                    if (response.status == "success") {
                        $('#calendar').fullCalendar('removeEvents', response.data.id);
                    } else {
                        alert("FUCK. Sth went wrong!!!!");
                    }
                    $("#event-model").modal("hide");
                }
            });
        }
    })

</script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div id='calendar'></div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
{{ macros.newevent_model("event-model") }}
{% endblock %}