{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<style>
#note-header {
    margin-top: -20px;
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/eboard-tagspicker.js')}}"></script>
<script src="{{url_for('static', filename='scripts/eboard-tagslist.js')}}"></script>   
<script>
tagsPicker = {};
tagsPicker.task = new TagsPicker({
    tags: {{ tags | tojson | safe }},
    selectElement: document.getElementById("note-edit-tags-select"),
    outputElement: document.getElementById("note-edit-tags-output"),
    onnewtag: function(self) {
        this.setActive(true);
        $('#new-tag-model').modal('show');  
    },
    onselect: function(id, name) {
        var self = this;
        var tag = createTagElement(id, name, function(event) {
            var element = event.target.parentNode;
            if (self.unselect(id)) {
                element.parentNode.parentNode.removeChild(
                    element.parentNode);
            }
        });

        var li = document.createElement("li");
        li.setAttribute("class", "list-group-item tag-selected");
        li.appendChild(tag);

        this.selectElement.parentNode.parentNode.appendChild(li);
    },
    onclear: function() {
        $(".tag-selected").remove();
    }
});

{{ note_tags | tojson | safe }}.forEach(function(obj) {
    tagsPicker.task.select.call(tagsPicker.task, obj.id);
})

</script>
{% endblock %}

{% block page_content %}
<div class="page-header" id="note-header">
    {% if noteid %}
        <h2>Edit Note</h2>
    {% else %}
        <h2>New Note</h2>
    {% endif %}
</div>
<div id="noteEditor">
    <form method="post" action="" role="form">
        {{ form.csrf_token }}

        <div class="form-group required">
            {{ form.title.label(class="control-label") }} 
            {{ form.title(required="", class="form-control input-sm", autocomplete="off", required="") }}
        </div>

       <div class="form-group">
            {{ form.body.label(class="control-label") }} 
            {{ form.body(class="form-control input-sm", rows="8", required="") }}
        </div>

        {{ macros.newtag_select("note-edit-tags", "note-edit-tags-select", "note-edit-tags-output") }}

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('eboard.notes') }}">Abort</a>
        </div>

    </form>
</div>
{% endblock %}

{% block content %}
{{ super() }}
{{ macros.newtag_model("new-tag-model", "new-tag-name") }}
{% endblock %}