{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}JAGO - e-Board - Notes{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/eboard.project.css')}}">
<style>
ul.notes {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.notes li.note {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}
ul.notes li.note:hover {
    background-color: #f0f0f0;
}
div.note-date {
    float: right;
}
div.note-title {
    font-weight: bold;
    font-size: 1.2em;
}
div.note-thumbnail {
    position: absolute;
}
div.note-content {
    min-height: 48px;
}
div.note-body {
    padding: 10px 0px 0px 0px;
}
div.note-tags {
    font-size: small;
    color: navy;
    font-style: italic;
}
select#tag {
    width:auto !important;
}

select#project {
    width:auto !important;
}
#new-note-btn {
    margin-left: 16px; 
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{url_for('eboard.note_create', username=user.username)}}" 
       class="btn btn-primary" role="button" id="new-note-btn">Create New Note</a>
{% if notes %}
    <div class="container">
        <ul class="notes">
            {% for note in notes %}
                <li class="note" data-noteid="{{note.id}}">
                    <div class="note-content">
                        <div class="note-date">{{note.timestamp.strftime("%Y-%m-%d")}} </div>
                        <div class="note-title">
                            {{note.title}}
                            {% if note.project_id %}
                                <a href="{{ url_for('eboard.project_show', username=user.username,
                                                    project_id=note.project_id) }}">
                                <small>(Go to project)</small>
                                </a>
                            {% endif %}
                        </div>
                        <div class="note-tags">{{note.tags | join(' ', attribute='name')}}</div>
<!--                         <div class="note-body">
                            {{note.body[:250]}}
                            {% if note.body|length  > 250 %}
                                (...)
                            {% endif %}
                        </div> -->
                        <div class="note-footer">
                            <a href="{{ url_for('eboard.note_edit', username=user.username, 
                                       note_id=note.id) }}">
                                <span class="label label-primary">Edit</span>
                            </a>
                            <a href="{{ url_for('eboard.note_delete', 
                                        username=user.username, note_id=note.id) }}" 
                                onclick="return confirm('Are your sure you want to remove this note?')">
                                <span class="label label-danger">Remove</span>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'eboard.notes', 
                                        username=user.username) }}
        </div>
    </div>
{% else %}
    <div class="container">
        <p>Create your fist note</p>
    </div>
{% endif %}
</div>

<!-- Modal Note (Show) -->
<div class="modal" id="modal-note-show" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="note-show-main-title"></h4>
            </div>
            <div class="modal-body">
                <table class="resource-header">
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td id="note-show-title"></td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td id="note-show-tags"></td>
                        </tr>
                        <tr>
                            <td>Timestamp:</td>
                            <td id="note-show-timestamp"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="resource-body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                    data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block body_scripts %}
<script>
$(document).on("click", ".note", function() {
    var noteId = $(this).data("noteid");
    $.ajax({
        url: "/api/users/{{user.username}}/notes/" + noteId,
        type: "GET"
    })
        .done(function(data, status, xhr) {
            var $modal = $("#modal-note-show");
            $modal.find("#note-show-main-title").text(data["title"]);
            $modal.find("#note-show-title").text(data["title"]);
            $modal.find("#note-show-timestamp").text(data["timestamp"]);
            if (data["body"] === "" || data["body"] === null) {
                $modal.find(".resource-body").text("No description."); 
            } else {
                $modal.find(".resource-body").empty();
                $modal.find(".resource-body").append($.parseHTML(data["body"]));
            }
            var tags = data["tags"].map(function(item) { 
                    return item["name"]; 
                }).join(", ");
            $modal.find("#note-show-tags").text(tags);
            $modal.modal("show");
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            var status = "ERROR";
            if (textStatus !== null) status = textStatus.toUpperCase();
            alert(status + ": " + errorThrown);  
        });   
});

$(".note a").click(function(event) {
    event.stopImmediatePropagation();
});
</script>
{% endblock %}