{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}JAGO - e-Board - Project{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/eboard.project.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header project-page-header" data-project-id="{{project.id}}">
        <h1 id="project-main-header">Project {{project.name}}</h1>
        <a href="{{url_for('eboard.project_edit', username=user.username, project_id=project.id)}}" 
            class="btn btn-primary btn-xs" role="button">Edit</a>
        <a href="{{url_for('eboard.project_delete', username=user.username, project_id=project.id)}}" 
            onclick="return confirm('Are your sure you want to remove the project, its all milestones, tasks and notes?')"
            class="btn btn-danger btn-xs" role="button">Remove</a>
        <div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" 
                    aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" 
                    style="width: {{project.progress}}%">
                    {{project.progress}}%
                </div>
            </div>
            <div>
                {{ project.created.strftime("%Y-%m-%d") }}
                <span id="progress-deadline">
                    {{ project.deadline.strftime("%Y-%m-%d") }}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="project-plan-wrapper">
        <h3 class="project-header">Project Plan</h3>
        <ol class="project-plan" id="project-plan-id" start="1">
            <!-- Milestones go here. -->
            <li class="project-milestone project-extra-options">
                <a href="#" data-toggle="modal" data-target="#modal-milestone-edit"
                    class="btn btn-primary btn-xs" role="button">Add Milestone</a>
            </li>
        </ol>
    </div>
    <div class="project-notes-wrapper">
        <h3 class="project-header">Project Notes</h3>
        <div id="add-note" class="btn btn-xs btn-primary" role="button">
            Add Note
        </div>
        <ul class="project-notes" id="project-notes-id">
            <!-- Milestones go here. -->
        </ul>
    </div>
</div>

<!-- Modal Milestone (New/Edit) -->
<div class="modal" id="modal-milestone-edit" role="dialog" aria-labelledby="gridSystemModalLabel"
     data-milestoneid="-1">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Add/Edit Milestone</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Title</label>
                    <input type="text" class="form-control" id="milestone-title">
                </div>
                <div class="form-group">
                    <label for="pwd">Description</label>
                    <textarea class="form-control" rows="5" id="milestone-desc"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new-milestone-btn">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Task (New/Edit) -->
<div class="modal" id="modal-task-edit" role="dialog" aria-labelledby="gridSystemModalLabel"
     data-milestoneid="-1" data-taskid="-1">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Create/Edit Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Title</label>
                    <input type="text" class="form-control" id="task-title">
                </div>
                <div class="form-group required">
                    <label class="control-label" for="deadline">Deadline</label> 
                    <div class='input-group date col-sm-4' id='task-datepicker'>
                        <input autocomplete="off" class="form-control input-sm" 
                               id="task-deadline" name="deadline" required="" type="date" value="">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Description</label>
                    <textarea class="form-control" rows="5" id="task-body"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="tags-list">Tags</label> 
                    <div>
                        <ul class="list-inline" id="task-tags">
                            <li>
                                <select class="form-control input-sm ignore" 
                                        id="task-tags-select" 
                                        name="tag" value="none">
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <input hidden="" id="task-tags-output" name="tags" type="text" 
                       value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new-task-btn">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Task (Show) -->
<div class="modal" id="modal-task-show" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="task-show-main-title"></h4>
            </div>
            <div class="modal-body">
                <table class="resource-header">
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td id="task-show-title"></td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td id="task-show-tags"></td>
                        </tr>
                        <tr>
                            <td>Deadline:</td>
                            <td id="task-show-deadline"></td>
                        </tr>
                        <tr>
                            <td>Created:</td>
                            <td id="task-show-created"></td>
                        </tr>
                        <tr>
                            <td>Complete:</td>
                            <td id="task-show-complete"></td>
                        </tr>
                        <tr>
                            <td>Active:</td>
                            <td id="task-show-active"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="resource-body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                    data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Move Task To Other Model -->
<div class="modal" id="modal-task-move" role="dialog" aria-labelledby="gridSystemModalLabel"
     data-milestoneid="-1" data-taskid="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Move Task to Milestone</h4>
            </div>
            <div class="modal-body">
                <p>Move task to one of the project's milestones.</p>
                <select class="form-control" name="milestone" id="milestone4task-id">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
                <button type="button" class="btn btn-primary" id="move-task-btn">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Milestone (Show) -->
<div class="modal" id="modal-milestone-show" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="milestone-show-title"></h4>
            </div>
            <div class="modal-body">
                <p id="milestone-show-desc"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                    data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Note (New/Edit) -->
<div class="modal" id="modal-note-edit" role="dialog" aria-labelledby="gridSystemModalLabel"
     data-noteid="-1">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Create/Edit Note</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Title</label>
                    <input type="text" class="form-control" id="note-title">
                </div>
                <div class="form-group">
                    <label for="pwd">Description</label>
                    <textarea class="form-control" rows="8" id="note-body"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="note-tags">Tags</label> 
                    <div>
                        <ul class="list-inline" id="note-tags">
                            <li>
                                <select class="form-control input-sm ignore" 
                                        id="note-tags-select" 
                                        name="tag" value="none">
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <input hidden="" id="note-tags-output" name="tags" type="text" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new-note-btn">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Note (Show) -->
<div class="modal" id="modal-note-show" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="note-show-main-title"></h4>
            </div>
            <div class="modal-body">
                <table class="resource-header">
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td id="note-show-title"></td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td id="note-show-tags"></td>
                        </tr>
                        <tr>
                            <td>Timestamp:</td>
                            <td id="note-show-timestamp"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="resource-body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                    data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ macros.newtag_model("modal-new-tag", "new-tag-name") }}
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='js/eboard.project.js') }}"></script>
<script src="{{ url_for('static', filename='js/eboard.tags.js') }}"></script>
<script>
    project.init({username: "{{user.username}}", projectId: {{project.id}} }, 
        showProject);
    initUI();
</script>
{% endblock %}