{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}JAGO - e-Board - Projects{% endblock %}

{% block styles %}
{{ super() }}
<style>
    ul.project-infos {
        list-style-type: none;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        border-top: 1px solid #e0e0e0;
    }
    ul.project-infos li.project-info {
        padding: 8px;
        border-bottom: 1px solid #e0e0e0;
    }
    ul.project-infos li.project-info:hover {
        background-color: #d9ffcc; 
        /*#f0f0f0;*/
    }
    div.project-deadline {
        float: right;
    }
    div.project-created {
        font-size: small;
        color: navy;
        font-style: italic;
    }
    div.project-name {
        font-weight: bold;
    }
    div.project-content {
        min-height: 48px;
    }
    div.project-description {
        padding: 10px 0px 0px 0px;
    }

    li.project-info  a {
        text-decoration: none;
        color: black;
    }
    #new-project-btn {
        display: inline-block;
        margin-bottom: 10px;
    }
    </style>
{% endblock %}


{% block content %}
<div class="container">
    <a href="{{url_for('eboard.project_create', username=user.username)}}" 
       class="btn btn-primary" role="button" id="new-project-btn">Create New Project</a>
    {% if projects %}
        <ul class="project-infos">
            {% for project in projects %}
                <li class="project-info" data-project-id="{{project.id}}">
                    <a href="{{url_for('eboard.project_show', username=user.username, project_id=project.id)}}">
                        <div class="project-content">
                            <div class="project-deadline">Deadline: {{project.deadline.strftime("%Y-%m-%d")}}</div>
                            <div class="project-name">{{project.name}}</div>
                            <div class="project-created">Created: {{project.created.strftime("%Y-%m-%d %H:%M")}}</div>
                            <div class="project-description">{{project.desc}}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'eboard.projects', username=user.username) }}
        </div>
    {% else %}
        <p>Create your fist project.</p>
    {% endif %}
</div>
{% endblock %}
