{% extends "base.html" %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
<style>
#project-header {
    margin-top: -20px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header" id="project-header">
        {% if projectid %}
            <h2>Edit Project</h2>
        {% else %}
            <h2>New Project</h2>
        {% endif %}
    </div>
    <div>
        <form method="post" action="" role="form" id="project-form">
            {{ form.csrf_token }}

            <div class="form-group required">
                {{ form.name.label(class="control-label") }} 
                {{ form.name(class="form-control input-sm", autocomplete="off", required="",
                    maxlength = '32') }}
                {% if form.name.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.name.errors }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="form-group required">
                {{ form.deadline.label(class="control-label") }} 
                <div class='input-group date col-sm-4'>
                    {{ form.deadline(type="date", class="form-control input-sm", 
                        autocomplete="off", required="") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                {% if form.deadline.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.deadline.errors }}</div>
                    </div>
                {% endif %}
            </div>

           <div class="form-group">
                {{ form.desc.label(class="control-label") }} 
                {{ form.desc(class="form-control input-sm", rows="8") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                {% if projectid %}
                    <a class="btn btn-danger" href="{{ url_for('eboard.project_show', 
                        username=current_user.username, project_id=projectid) }}">Abort</a>
                {% else %}
                    <a class="btn btn-danger" href="{{ url_for('eboard.projects', 
                        username=current_user.username) }}">Abort</a>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script>
    $("#deadline").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        constrainInput: false,
        onSelect: function(dateText, inst) {
            $(this).val(dateText + " 23:59");
        }
    });
</script>
{% endblock %}