{% extends "base.html" %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<style>
#project-header {
    margin-top: -20px;
}
</style>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datetimepicker.css')}}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/bootstrap-datetimepicker.min.js')}}"></script>
<script>
$(function () {
    $('#deadlinepicker').datetimepicker({
        format: "YYYY-MM-DD HH:mm"
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header" id="project-header">
        {% if projectid %}
            <h2>Edit Project</h2>
        {% else %}
            <h2>New Project</h2>
        {% endif %}
    </div>
    <div id="projectEditor">
        <form method="post" action="" role="form">
            {{ form.csrf_token }}

            <div class="form-group required">
                {{ form.name.label(class="control-label") }} 
                {{ form.name(class="form-control input-sm", autocomplete="off", required="",
                    maxlength = '32') }}
                {% if form.name.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.name.errors }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="form-group required">
                {{ form.deadline.label(class="control-label") }} 
                <div class='input-group date col-sm-4' id='deadlinepicker'>
                    {{ form.deadline(type="date", class="form-control input-sm", 
                        autocomplete="off", required="") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                {% if form.deadline.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.deadline.errors }}</div>
                    </div>
                {% endif %}
            </div>

           <div class="form-group">
                {{ form.desc.label(class="control-label") }} 
                {{ form.desc(class="form-control input-sm", rows="8", required="") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('eboard.projects', username=current_user.username) }}">Abort</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}