{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}JAGO - e-Board{% endblock %}

{% block styles %}
{{ super() }}
<style>
    #task-header {
        margin-top: -20px;
    }
    .jtask {
        position: relative;
        padding: 10px 0px 10px 0px;
        border: 1px solid #999966;
    }
    .jbutton {
        position: absolute;
        top: 0px;
        right: 0px;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}

</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header" id="task-header">
        {% if taskid %}
            <h2>Edit Task</h2>
        {% else %}
            <h2>New Task</h2>
        {% endif %}

    </div>
    <div id="taskEditor">
        <form method="post" action="" role="form">
            {{ form.csrf_token }}

            <div class="form-group required">
                {{ form.title.label(class="control-label") }} 
                {{ form.title(required="", class="form-control input-sm", autocomplete="off") }}
                {% if form.title.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.title.errors }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="form-group required">
                {{ form.deadline.label(class="control-label") }} 
                <div class='input-group date col-sm-4' id='deadlinepicker'>
                    {{ form.deadline(required="", type="date", class="form-control input-sm", 
                        autocomplete="off") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                {% if form.deadline.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.deadline.errors }}</div>
                    </div>
                {% endif %}
            </div>

           <div class="form-group">
                {{ form.body.label(class="control-label") }} 
                {{ form.body(class="form-control input-sm", rows="8") }}
                {% if form.errors %}
                    <div class="has-error">
                        <div class="help-block">{{ form.body.errors }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label" for="tags-list">Tags</label> 
                <div>
                    <ul class="list-inline" id="task-edit-tags">
                        <li>
                            <select class="form-control input-sm ignore" 
                                    id="task-edit-tags-select" 
                                    name="tag" value="none">
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            {{ form.tags(hidden="", id="task-edit-tags-output")}}

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('eboard.tasks', 
                    username=current_user.username) }}">Abort</a>
            </div>
        </form>
    </div>
</div>
{{ macros.newtag_model("modal-new-tag", "new-tag-name") }}
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='js/eboard.tags.js') }}"></script>
<script>
    var tags4task = new TagsPicker({
            input: $("#task-edit-tags-select"),
            output: $("#task-edit-tags-output"),
            list: $("#task-edit-tags"),
            modal: $("#modal-new-tag")
        });

    $("#modal-new-tag").on("show.bs.modal", function(event) {
        var $modal = $(this);
        $modal.find("#new-tag-name").val("");
    });
</script>
{% endblock %}