{% extends "base.html" %}

{% block title %}JAGO - e-Board - E-Mail Client{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/mail.mailbox.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.datetimepicker.min.css')}}">
<style>
/*
Colors:
333333
4E91F0
F0AD4E
d72638
*/
    body {
        background-color: #333;
        color: white;
    }
    #mailbox-container {
        float: left;
        background-repeat: no-repeat;
        width: 200px;
        /*height: 100px;*/
        text-align: center;
        padding: 10px;
    }
    #emails-container {
        overflow: hidden; 
        color: black;
        min-height: 1000px;
    }
    #mailbox-list {
        margin: 0  auto;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #444444;
        color: white;
        border: 1px solid #f0ad4e;
        width: 100%;
    }
    #mailbox-list li {
        border: 1px solid black; /*#f0ad4e;*/
        padding: 10px;
    }
    #mailbox-list li:hover {
        background-color: #f0ad4e;
        color: black;
        cursor: pointer;
    }
    #mailbox-list li.active {
        background-color: #f0ad4e;
        color: black;        
    }
    #mailbox-list li.droppable-hover {
        background-color: #44af69;
        color: white;
    }
    #emails-list {
        width: 100%;
        background-color: #444444; /*grey;*/
        color: white;
        margin-bottom: 10px;
        border: 1px solid #f0ad4e;
        border-collapse: separate;
        border-spacing: 0;
        word-wrap: break-word;
        word-break: break-all;
    }

    #emails-list td {
        border-bottom: 1px solid black;
        padding: 5px;
    }
    #emails-list th {
        padding: 5px;
    }
    #emails-list thead {
        background-color: #f0ad4e;
        color: black;
    }
    #emails-list th {
        font-weight: bodl;
    }
    #emails-list tr td {
        border-right: 0;
    }
    #emails-list tr:last-child td {
        border-bottom: 0;
    }
    #emails-list tr td:first-child,
    #emails-list tr th:first-child {
        border-left: 0;
    }
    #emails-list tr td{
        border-top: 0;
    }
    #emails-list tr:first-child td {
        border-top: 1px solid black;
    }
    #emails-list tbody tr:hover {
        background-color: #f0ad4e;
        color: black;
        cursor: pointer;
    }

    th.header-controls {
        width: 8%;
    }
    th.header-from {
        width: 20%
    }
    th.header-date {
        width: 12%;
    }
    th.header-subject {
      width: 60%; 
    }
    .alert-client {
        background-color: #f0ad4e;
        color: black;
        border: 1px solid black;
        padding: 5px;
    }
    #email-modal {
        color: black;
    }
    #new-msg {
        margin-bottom: 5px;
        /*width: 70%;*/
        color: black !important;
    }
    #emails-ui {
        background-color: #333;
        padding-bottom: 5px;
    }
    #page-emails {
        color: white;
    }
    #search-emails {
        margin-bottom: 10px;
    }
    #search-ui {
        position: relative;
        overflow: visible;
    }
    #extended-emails-search {
        position:absolute;
        left: 0px;
        top: 2.5em;
        z-index:1;
        display: none;
        background-color: white;
        /*height: 400px;*/
        width: 100%;
        padding: 10px;
        border: 1px solid black;
    }
    #client-info {
        float: right;
        color: black;
        font-weight: bold;
    }
    .email-record.unseen {
        background-color: #2274a5; /*#4e91f0;*/
        color: white;
    }
    .email-star {
        font-size: 2em;
    }
    .email-star.flagged {
        color: #FFBB00;
        text-shadow: 2px 2px #000000;
    }
    .email-dragged {
        background-color: #44af69 !important;
        color: white;
    }
    .email-dragged-helper {
        border: 1px solid black;
        background-color: #44af69;
        padding: 10px 20px;
    }
    #page-ui {
        float: right;
    }

    /* email modal */
    .email-node {
        list-style: none;
        padding-left: 0px;
    }
    #email-base {
        padding-left: 0px;
    }
    iframe {
        width: 100%;
        height: 400px;
        border: none;
    }

    @media (max-width: 768px) {
        #mailbox-container {
            float: none;
            text-align: initial;
            height: initial;
            max-width: initial;
            padding: 0px;
            margin: auto 0;
            margin-bottom: 20px;
        }
        #emails-container {
            color: black;
            min-height: 1000px;
        }
        #mailbox-list-wrapper {
            display: block;
            position: relative;
            margin-bottom: 20px;
        }
        #mailbox-list {
            position: absolute;
            z-index: 3;
        }
        #mailbox-list li {
            padding: 5px;
        }
        #mailbox-list > li:not(:first-child) {
            display: none;
        }
        #mailbox-list:hover > li:not(:first-child) {
            display: block;
        }
        #new-msg {
            float: left;
            margin: auto 0;
            margin-right: 5px;
            /*margin: 5px;*/
        }
        #archive-btn,
        #spam-btn,
        #remove-btn {
            display: none !important;
        }
        .email-star {
            display: none !important;
        }
        #client-info {
            float: none;
            color: black;
            font-weight: bold;
        }
    }
    @media (min-width: 992px) {
        th.email-small:not(.header-controls) {
            display: none;
        }
        td.email-small:not(.email-controls) {
            display: none;
        }
    }
    @media (max-width: 992px) {
        #mailbox-container {
            max-width: 160px;
            padding: 5px;
        }
        th:not(.email-small) {
            display: none;
        }
        td:not(.email-small) {
            display: none;
        }
        th.header-controls {
            width: 10%;
        }
        th.header-email {
            width: 90%;
        }
    }

</style>
{% endblock %}

{% block page_content %}
{% include 'mail/email.html' %}
{% include 'mail/mailbox.html' %}
<div class="container">
    <div class="alert alert-client" role="alert">
        You're logged as <strong>{{username}}</strong> 
        (<a href="{{ url_for('mail.logout') }}">Log out</a>).
        <span id="client-info"></span>
    </div>

    <div id="mailbox-container">
        <button id="new-msg" type="button" class="btn btn-warning">New Message</button>
        <div id="mailbox-list-wrapper">
            <ul id="mailbox-list"></ul>
        </div>
    </div>

    <div id="emails-container">

        <div id="emails-ui">
            <div class="row">
                <div class="col-lg-8" id="search-ui">
                    <div class="input-group" id="search-emails"> 
                        <input class="form-control" id="email-search-text"> 
                        <div id="extended-emails-search">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="email-search-from" class="col-sm-2 control-label">Search In</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="email-search-mailbox"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email-search-from" class="col-sm-2 control-label">From</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="email-search-from">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email-search-to" class="col-sm-2 control-label">To</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="email-search-to">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email-search-subject" class="col-sm-2 control-label">Subject</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="email-search-subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email-search-body" class="col-sm-2 control-label">Text</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="email-search-body">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Send date</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class = "input-group-addon">From</span>
                                            <input type="date" class="form-control" id="email-search-date-from">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class = "input-group-addon">To</span>
                                            <input type="date" class="form-control" id="email-search-date-to">
                                        </div>
                                    </div>
                                </div>      
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="email-ext-search-btn" class="btn btn-default">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- <div id="extended-emails-search"> -->
                        <div class="input-group-btn"> 
                            <button type="button" class="btn btn-warning"
                                    id="extended-search-btn"> 
                                <span class="caret"></span> 
                            </button> 
                            <button type="button" class="btn btn-warning" id="email-search-btn">
                                Search
                            </button> 
                        </div> 
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary select-emails" 
                        data-select-type="ALL" id="select-emails-btn"
                        title="Select">ALL</button>
                <button type="button" class="btn btn-primary dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        title="Select">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="select-emails" data-select-type="ALL" href="#">ALL</a></li>
                    <li><a class="select-emails" data-select-type="NONE" href="#">NONE</a></li>
                    <li><a class="select-emails" data-select-type="READ" href="#">READ</a></li>
                    <li><a class="select-emails" data-select-type="UNREAD" href="#">UNREAD</a></li>
                    <li><a class="select-emails" data-select-type="STARRED" href="#">STARRED</a></li>
                    <li><a class="select-emails" data-select-type="UNSTARRED" href="#">UNSTARRED</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-success" id="refresh-btn" title="Refresh">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-warning" id="archive-btn" title="Archive">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-warning" id="spam-btn" title="Spam">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
            </button>

            <button type="button" class="btn btn-danger" id="remove-btn" title="Trash">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

            <div class="btn-group" id="move-to-list-btn">
                <button type="button" class="btn btn-warning dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        title="Move to">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>  
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li role="separator" class="divider const-item"></li>
                    <li class="const-item">
                        <a data-toggle="modal" href="#mailbox-modal" 
                           data-action="create">Create New</a>
                    </li>                  
                </ul>
            </div>
            <div class="btn-group" id="more-btn">
                <button type="button" class="btn btn-info dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" href="#mailbox-modal" 
                           data-action="create">Create Mailbox</a></li>
                    <li><a id="more-delete-mailbox" href="#">Delete Mailbox</a></li>
                    <li><a data-toggle="modal" href="#mailbox-modal" 
                           data-action="rename">Rename Mailbox</a></li>
                    <li role="separator" class="divider more-emails"></li>
                    <li><a class="more-emails" id="more-unread" href="#">Set As Unread</a></li>
                    <li><a class="more-emails" id="more-read" href="#">Set As Read</a></li>
                </ul>
            </div>
            <div id="page-ui">
                <span id="page-emails"></span>
                <button id="prev-emails-btn" type="button" class="btn btn-warning">
                    &#8882
                </button>
                <button id="next-emails-btn" type="button" class="btn btn-warning">
                    &#8883
                </button> 
            </div>
        </div> <!-- emails-container -->

        <table id="emails-list">
            <thead>
                <tr>
                    <th class="header-controls email-small"></th>
                    <th class="header-from">From</th>
                    <th class="header-subject">Subject</th>
                    <th class="header-date">Date</th>
                    <th class="header-email email-small">E-Mails</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table> <!-- emails-list -->
    </div> <!-- emails-container -->
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.ajax.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.manager.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.email.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.mailbox.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.client.js')}}"></script>
<script>
    initClient();
</script>
<!-- <script src="{{url_for('static', filename='scripts/jquery.datetimepicker.full.min.js')}}"</script> -->
{% endblock %}