{% extends "base.html" %}

{% block title %}JAGO - e-Board - E-Mail Client{% endblock %}

{% block styles %}
{{ super() }}
<style>
    body {
        background-color: #333;
        color: white;
    }
    #mailbox-container {
        float: left;
        background-repeat: no-repeat;
        width: 240px;
        height: 100px;
    }
    #mailbox-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #5cb85c;
        color: black;
        border: 1px solid black;
    }
    #mailbox-list li {
        border: 1px solid black;
        padding: 10px;
    }
    #mailbox-list li:hover {
        background-color: #f0ad4e;
        cursor: pointer;
    }
    #emails-container {
        overflow:hidden; 
        background-color: grey;
        color: black;
    }
    #emails-list {
        width: 100%;
    }
    #emails-list tr {
        border: 1px solid black;
        padding: 2px;
    }
    #emails-list tr:not(:first-child):hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .alert-username {
        background-color: grey;
        color: black;
        border: 1px solid black;
        padding: 5px;
    }

    #email-modal {
        color: black;
    }
</style>
{% endblock %}

{% block page_content %}
{% include 'mail/email.html' %}
<div class="container">
    <div class="alert alert-username" role="alert">
        You're logged as <strong>{{username}}</strong> 
        (<a href="{{ url_for('mail.logout') }}">Log out</a>).
    </div>
    <div id="mailbox-container">
        <ul id="mailbox-list"></ul>
    </div>
    <div id="emails-container">
        <table id="emails-list">
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </table> 
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/mail.client.js')}}"></script>
<script src="{{url_for('static', filename='scripts/mail.email.js')}}"></script>
<script>

    getMailboxes({callback: updateMailboxesList});
    getEMailsHeaders({callback: updateEMailsList});

    $(document).on("click", ".email-header", function() {
        $("#email-modal").data("email-id", $(this).data("email-id"));
        $("#email-modal").modal("show");
    });
</script>
{% endblock %}