<div class="modal fade" id="email-modal" tabindex="-1" role="dialog"
     data-email-id="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header email-element" id="email-subject">
                
            </div>

            <div class="modal-body email-element" id="email-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>