<div class="modal fade" id="email-modal" tabindex="-1" role="dialog"
     data-email-id="" data-mailbox="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="email-subject">       
            </div>

            <div class="modal-body" id="email-body">
                <ul id="email-base" class="email-node"></ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>