{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <style>
        body {
            background-color: #333;
            color: white;
        }
        .page-header {
            margin-top: 0px;
        }
    </style>
{% endblock %} 

{% block title %}JAGO - e-Board - E-Mail Client{% endblock %}

{% block content %}
    <div class = "page-header text-center">
        <h3>Log In To Your E-Mail Account</h3>
    </div>

    <form method="post" class="form-horizontal" action="" role="form">
        <div class="col-md-4 col-md-offset-4">
            {{ form.csrf_token }}
            <div class="form-group required">
                {{ form.imap.label() }}
                {{ form.imap(class="form-control", 
                    id="imap", required="", value="imap.gmail.com",
                    autocomplete="off") }}
            </div>
            <div class="form-group required">
                {{ form.username.label() }}
                {{ form.username(class="form-control", 
                    id="username", required="", value="jago.eboard@gmail.com",
                    autocomplete="off") }}
            </div>
            <div class="form-group required">
                {{ form.password.label()  }}
                {{ form.password(class="form-control", id="passwowrd", 
                    required="") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </div>
    </form>

{% endblock %}