<div class="modal fade" id="mailbox-modal" tabindex="-1" role="dialog"
     data-email-id="" data-mailbox="" style="color: black;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">       
            Create New Mailbox
            </div>

            <div class="modal-body">
                <label for="exampleInputEmail1">Enter mailbox name.</label>
                <div class="input-group-btn">
                    <input type="text" class="form-control" id="mailboxName" 
                           placeholder="Mailbox">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="create-mailbox-btn">
                    Create
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Abord
                </button>
            </div>
        </div>
    </div>
</div>