{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}JAGO - e-Board - Items{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .jumbotron {
        position: relative;
        background-color: #555;
        color: white;
        padding: 10px 0px;
        display: none;
    }
    #hide-jumbo-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        color: white;
    }
    #hide-jumbo-btn:hover {
        color: black;
    }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container col-md-8 col-md-offset-2">
    <div class="row">
        <button type="button" class="btn btn-success" id="show-jumbotron-btn">
            Add New Item
        </button>
    </div>
    <div class="row">
        <div class="jumbotron" id="new-item-jumbotron">
            <h2>Create new item!</h2>
            <form method="post" action="" role="form">
                {{ form.csrf_token }}
                <div class="form-group required">
                    {{ form.value.label(class="control-label") }} 
                    {{ form.value(required="", class="form-control input-sm", 
                                  autocomplete="off") }}
                    {% if form.value.errors %}
                        <div class="has-error">
                            <div class="help-block">{{ form.value.errors }}</div>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group required">
                    {{ form.desc.label(class="control-label") }} 
                    {{ form.desc(class="form-control input-sm", 
                                 autocomplete="off", rows="2") }}
                    {% if form.desc.errors %}
                        <div class="has-error">
                            <div class="help-block">{{ form.desc.errors }}</div>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <a id="hide-jumbo-btn" class="btn btn-lg glyphicon glyphicon-remove"></a>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Items</div>
            <div class="list-group penel-body">
            {% if pagination.items %}
                {% for item in pagination.items %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{item.value}}</h4>
                        {% if item.desc %}
                            <p class="list-group-item-text">{{item.desc}}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="list-group-item">
                    You have no items in this bookmark.
                </div>
            {% endif %}
            </div>
        </div>
        {% if bookmark.items %}
            {{ macros.pagination_widget(pagination, 'bookmarks.items', 
                                        username=user.username,
                                        bookmark_id=bookmark.id) }}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_scripts %}
{{ super() }}
<script>
    $("#hide-jumbo-btn").click(function() {
        $(this).parent().hide();
        $("#show-jumbotron-btn").show();
    });
    $("#show-jumbotron-btn").click(function() {
        $(this).hide();
        $("#new-item-jumbotron").show();
    });
</script>
{% endblock %}