<!doctype html>
<html>
    <head>
    </head>

    <body>
        <script src="jquery-1.7.1.min.js"></script>
        <script src="{{url_for('static', filename='scripts/jquery-1.7.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/mail.iterator.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/mail.ajax.js')}}"></script>
        <script>
            // var iterator = new SelectIterator({emailsPerPage: 5});
            // iterator.init({mailbox: "INBOX", callback: function(response) {
            //     if (response.status === "OK") {
            //         alert(iterator.total_emails);
            //         alert(JSON.stringify(iterator.getIds(1)));
            //     } else {
            //         alert("ERROR");
            //     }
            // }});

            var iterator = new SearchIterator({emailsPerPage: 5});
            iterator.on("onLoaded", function(response) {
                alert(JSON.stringify(response));
            })
            iterator.init({mailbox: "INBOX", criteria: [{key: "SUBJECT", value: "Test"},
                {key: "FROM", value: "Jakub"}], callback: function(response) {
                if (response.status === "OK") {
                    alert(iterator.hasNextPage());
                    alert(JSON.stringify(iterator.getIds(1)));
                    iterator.loadEMails(1);
                } else {
                    alert("ERROR");
                }
            }});
        </script>
    </body>

</html>